.option-container {
  width: 500px;
  height: 110px;
  background-color: rgb(238, 238, 238);
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.game-board {
  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
}

#gamesboard-container {
  width: 500px;
  display: flex;
  justify-content: space-around;
}


.block {
  width: 20px;
  height: 20px;
  box-sizing: border-box;  /* Ensures that the border is included in the width/height */
  border: 1px solid #ccc;  /* Light grey border for each block */
  background-color: #f0f0f0;
}


.destroyer {
  background-color: rgb(236, 255, 67);
}

.submarine {
  background-color: rgb(255, 180, 82);
}

.cruiser {
  background-color: rgb(241, 67, 67);
}

.battleship {
  background-color: blue;
}

.carrier {
  background-color: rgb(91, 239, 62);
}

.destroyer-preview {
  width: 40px;
  height: 20px;
  margin: 3px;
  border: 1px solid #ccc;
}

.submarine-preview {
  width: 60px;
  height: 20px;
  margin: 3px;
  border: 1px solid #ccc;
}

.cruiser-preview {
  width: 60px;
  height: 20px;
  margin: 3px;
  border: 1px solid #ccc;
}

.battleship-preview {
  width: 80px;
  height: 20px;
  margin: 3px;
  border: 1px solid #ccc;
}

.carrier-preview {
  width: 100px;
  height: 20px;
  margin: 3px;
  border: 1px solid #ccc;
}

.vertical-destroyer {
  width: 20px;
  height: 40px;
  border: 1px solid #ccc;
}

.vertical-submarine, .vertical-cruiser {
  width: 20px;
  height: 60px;
  border: 1px solid #ccc;
}

.vertical-battleship {
  width: 20px;
  height: 80px;
  border: 1px solid #ccc;
}

.vertical-carrier {
  width: 20px;
  height: 100px;
  border: 1px solid #ccc;
}


.hidden {
  background-color: #f0f0f0; /* Same as the block's background color */
}

.hit {
  background-color: rgb(55, 228, 104);
}

.miss {
  background-color: #ccc;
}


.sunk {
  border: 2px solid red;
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" fill="red"%3E%3Cpath d="M10 10 L90 90 M90 10 L10 90" stroke="red" stroke-width="10"/%3E%3C/svg%3E');
  background-size: cover;
}
